.loginPage{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 100px;
}

.loginItem{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.loginItem form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.loginItem form input{
    padding: 20px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: rgba(17, 25, 40, 0.6);
    color: white;
}

.loginItem form label{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    text-decoration: underline;
}

.loginItem form label img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 10px;
}

.loginItem form button{
    width: 100%;
    padding: 20px;
    background-color: #1f8ef1;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    font-weight: 500;
}

.loginItem form button:disabled {
    cursor: not-allowed;
    background-color: #1f8ff182;
}


.separator{
    height: 80%;
    width: 2px;
    background-color: #dddddd35;
}